<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>226adc9bf9dc85b93896c211e336c251</string>
	<key>HASH</key>
	<string>f4cf81bdd5394ba67486cec87f1881cf</string>
</dict>
</plist>
